Question 1

Answer : 6

a become global when calling method b(). method b() internally calling method c which is adding 2 to variable a. and since a is global therefore 2 is being added to a everytime b() is called and since b() is called thrice and hence value for a will be 6

---------------------------------------------------------
Question 2:

In [2]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File {} not found'.format(file_name))
        

file_length('idterm.py')

File idterm.py not found

In [3]:
file_length('midterm.py')

0

------------------------------------
Question 3:

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []
    
    def put_in_pouch(self , element):
        return self.pouch.append(element)
    
    def pouch_contents(self):
        print(self.pouch)

In [5]:
m = Marsupial()
m.put_in_pouch('doll')

In [6]:
m.put_in_pouch('kitten')

In [7]:
m.put_in_pouch('firetruck')

In [8]:
m.pouch_contents()

['doll', 'kitten', 'firetruck']

In [9]:
class Kangaroo(Marsupial):
    
    def __init__(self, xcoord, ycoord):
        super().__init__()
        self.x = xcoord
        self.y = ycoord
    
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']

In [10]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [11]:
print(k)

I am a Kangaroo located at coordinates (3,0)

------------------------------------------------------------------------
Question 4:

In [12]:
def collatz(x):
    if x%2 == 0:
        print(int(x))
        collatz(x/2)
    elif x == 1:
        print(1)
        return
    else:
        print(int(x))
        collatz(3*x+1)
    
collatz(1)

1

In [13]:
collatz(10)

10
5
16
8
4
2
1

----------------------------------------------------------
Question 5:

In [14]:
def binary(n):
    if n<2:
        print (n,end = "")
    else:
        binary(int(n / 2))
        print (n % 2,end = "")


binary(9)

1001

------------------------------------------------
Question 6:

In [25]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)  
        self.isHeading = False
        self.headingtag = None
        
    def handle_starttag(self, tag, attrs):
        tags = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
        if tag in tags:
            self.isHeading = True
            self.headingtag = tag
            
    def handel_endtag(self, tag):
        tags = ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']
        if tag in tags:
            self.isHeading = False
            self.headingtag = None
    
    def handle_data(self, data):
        space = ' '
        if self.isHeading and data.strip():
            indent = int(self.headingtag[1]) - 1
            print((space*indent) + data)

In [26]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

------------------------------------------------
Question 7:

In [42]:
from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):

    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http':
                        self.links.append(absolute)
                        
    def getLinks(self):
        return self.links

In [43]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def webdir(url, depth, indent):
    space = ' '
    print((space*indent) + url)
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    links = collector.getLinks()  
    for link in links[:depth]:
        try:
            webdir(link, depth-1, indent+1)
        except:
            pass

In [44]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test4.html

---------------------------------------------------
Question 8:

In [32]:
import sqlite3

connection = sqlite3.connect('web.db')
cur = connection.cursor()

cur.execute("CREATE TABLE ClimateData (City text, Country text, Season text, Temrature_C float, Rainfall_mm float)")

cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Mumbai', 'India', 'Winter', 24.8, 5.9))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Mumbai', 'India', 'Spring', 28.4, 16.2))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Mumbai', 'India', 'Summer', 27.9, 1549.4))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Mumbai', 'India', 'Fall', 27.6, 346.0))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('London', 'United Kingdom', 'Winter', 4.2, 207.7))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('London', 'United Kingdom', 'Spring', 8.3, 169.6))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('London', 'United Kingdom', 'Summer',15.7, 157.0))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('London', 'United Kingdom', 'Fall',10.4, 218.5))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Cairo', 'Egypt', 'Winter', 13.6, 16.5))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Cairo', 'Egypt', 'Spring',20.7, 6.5))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Cairo', 'Egypt', 'Summer',27.7, 0.1))
cur.execute("INSERT INTO ClimateData VALUES (?, ?, ?, ?, ?)", ('Cairo', 'Egypt', 'Fall',22.5, 4.5))

a: All the Temrature data

In [33]:
cur.execute('SELECT Temrature_c FROM ClimateData')
print(cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.5,)]

b: All the cities, but without repetitions

In [34]:
cur.execute('SELECT DISTINCT City FROM ClimateData')
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

c: All the records for India

In [35]:
country = 'India'
cur.execute('SELECT * FROM ClimateData WHERE Country = ?', (country,))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d: All the Fall records.

In [36]:
season = 'Fall'
cur.execute('SELECT * FROM ClimateData WHERE Season = ?', (season,))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.5, 4.5)]

e: The city, country and season for which average rainfall is between 200 and 400 mm

In [37]:
r1, r2 = 200.0, 400.0
cur.execute('SELECT City, Country, Season FROM ClimateData WHERE Rainfall_mm BETWEEN ? AND ?', (r1,r2))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

f: The city and country for which average fall temprature is above 20 degrees, in increasing temrature order

In [38]:
season = 'Fall'
temrature = 20
cur.execute('SELECT City, Country FROM ClimateData Where Season = ? AND Temrature_c > ? ORDER BY Temrature_c', (season, temrature))
print(cur.fetchall())

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g: the total annual rainfall for cario

In [41]:
city = 'Cairo'
cur.execute('SELECT city, SUM(Rainfall_mm) FROM ClimateData WHERE City = ? GROUP BY City', (city,))
print(cur.fetchall())

[('Cairo', 27.6)]

h: the total rainfall for each season

In [40]:
cur.execute('SELECT Season, Sum(Rainfall_mm) AS Total_Rainfall FROM ClimateData GROUP BY Season')
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

---------------------------------------------------------------
Question 9:

In [17]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a:

In [18]:
Upper_Words = [word.upper() for word in words]
print(Upper_Words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b:

In [19]:
Lower_Words = [word.lower() for word in words]
print(Lower_Words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c:

In [22]:
Length_Words = [len(word) for word in words]
print(Length_Words)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d:

In [23]:
upper_lower_lenght_words = [(word.upper(), word.lower(), len(word)) for word in words]
print(upper_lower_lenght_words)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

e:

In [24]:
new_words = [word for word in words if len(word) >= 4]
print(new_words)

['quick', 'brown', 'jumps', 'over', 'lazy']